* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
input,
select,
table,
tr,
td,
th,
button,
textarea {
    font-family: "微软雅黑";
}

body {
    max-width: $max-width;
    height: 100vh;
    background-color: #f3f3f3;
    color: #333;
    font-size: rem(32);
    overflow: hidden;
}

html,
body {
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

input,
textarea {
    &::placeholder {
        color: #bfbfbf;
    }
}

i {
    font-size: rem(32);
    font-style: normal;
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
